[submodule "OccupOSNode"]
	path = OccupOSNode
	url = https://github.com/OccupOS/OccupOSNode.git
[submodule "OccupOSCloud"]
	path = OccupOSCloud
	url = https://github.com/OccupOS/OccupOSCloud.git
[submodule "OccupOSMonitor"]
	path = OccupOSMonitor
	url = https://github.com/OccupOS/OccupOSMonitor.git
